<div class = "content-wrapper">

    <div class="card">
        <div class="card-header">
            User form 
        </div>
        <div class="card-body">

            <form [formGroup]="userForm">

                <label>Username</label>
                <input id="fullname" formControlName="fullname" type="text" class="form-control" placeholder="Add the full name">
                <div *ngIf="getControl.fullname.invalid && (getControl.fullname.dirty || getControl.fullname.touched)" class="alert alert-danger">
                    <div *If="getControl.fullname.errors?.required">
                        Name cannot be empty
                </div>
                <div *ngIf="getControl.fullname.errors?.minlength">
                    Not enough characters
                </div>
                <div *ngIf="getControl.fullname.errors?.maxlength">
                    The username exceeds the max number of characters
                </div>

                </div>

            </form>


        </div>
        <div class="card-footer">

        </div>
    </div>

</div>